body{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, serif;
    background-image: url("https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}

body a{
    color: #A4A400;
}

h1{ 
    padding: 3px;
    font-weight: normal;
    text-decoration: underline;
    color: #A4A400; 
    background-color: #F0F0F0; 
    font-family: Lucida, "Sans Unicode", Helvetica, Arial, sans-serif;
    letter-spacing:  0.25em;
}
.MainHeading{
    text-align: center;
    font-weight: bold;
    font-size: 22pt;
    text-decoration: underline;
    margin: 1px;
}

.container{
    display: flex;
    flex-direction: column;
    width: 1024px;
}

.container p{
    margin: 2px;
}

.RecipeImg{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.seperator{
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    margin-top: 10px;
    margin-bottom: 10px;
}

dd{
    background-color: #FFFFA8;
    font-style: italic;
    margin-bottom: 15px;
}

.copyright{
    font-family: monospace;
    width: 28%;
    text-align: end;
    margin-top: 10px;
    margin-bottom: 10px;
}

#midline{
    font-weight: normal;
    text-decoration: line-through;
}

ul{
    list-style-image: url("https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/pie_icon.gif");
}